{
  "env": {
    "instrument": {
      "presets": [["@babel/preset-env", {"useBuiltIns": "usage"}]],
      "plugins": ["istanbul"]
    },
    "test": {
      "presets": ["@babel/preset-env"],
      "sourceMaps": true,
      "retainLines": true
    }
  }
}
